---
import Layout from "../layouts/Layout.astro";
import FrameGamePasswordChallenge from "../components/password-game/FrameGamePasswordChallenge";
import HomeButton from "../components/HomeButton";
---

<Layout title="password-challenge">
  <section class="flex flex-col m-auto h-[100vh] bg-[#9EE6F5] bg-cover mt-10">
    <HomeButton />
    <h1 class="flex justify-center items-center text-2xl font-medium mt-10">
      The Password Challenge
    </h1>
    <FrameGamePasswordChallenge client:only="react" />
  </section>
</Layout>
